node_modules
faqture.xlsx
.env
*.gz
.wwebjs_auth
credencials-faqture-drive-api.json
ssh_key/
logs/*.log
logs/*.log.gz
logs/*.json

# Pruebas locales (Ignoradas en git)
__tests__/
jest.config.js
